@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Helvetica, sans-serif;
    font-weight: 250;
    color: #F9F6EE;
    background-color: #0f0f0f;
}

h1, h2 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(254, 253, 248);
    text-align: center;
    margin: 3%;
}

h2 {
    font-size: 250%;
}

i {
    font-size: 240%;
}

/* **** NAVIGATION LINKS **** */

.container {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

}

.box1 {
    order: 1;
    font-size: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 33%;

}.box2 {
    order: 2;
    font-size: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 33%;
}

.box3 {
    order: 3;
    font-size: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 33%;
}

.row-box{
        width: 100%;
}

.hover-box a:hover {
    border-bottom: 1px solid #F9F6EE;
 }

#logo {
    width: 100%;
}

.nav-link {
    font-size: 120%;
    letter-spacing: 4px;
    text-decoration: none;
    color: inherit;
}

 
.active {
    border-bottom: 1px solid #F9F6EE;
}

/* ****HERO IMAGE**** */

#hero-container {
    position: relative;
}

.hero-box {
    height: 400px;
    width: 100%;
    background: url('../images/CGPS1editfinal.jpg') no-repeat center center;
}

.hero-box {
    height: 400px;
    width: 100%;
    background: url('../images/CGPS1editfinal.jpg') no-repeat center center;

    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* **** UPCOMING DATES **** */

#dates {
    height: 600px;
    width: auto;
    text-align: center;
    margin-bottom: 3%;
    background: url('../images/railway.jpg') no-repeat center center;
}

#dates ul {
    width: 600px;
    font-size: 110%;
    list-style: none;
    background-color: rgba(69, 68, 68, 0.7);
    margin: 0 auto;
    margin-bottom: 3%;
}

#dates ul {
    width: 600px;
    font-size: 110%;
    list-style: none;
    background-color: rgba(69, 68, 68, 0.7);
    margin: 0 auto;
    margin-bottom: 3%;
}


#dates a {
    text-decoration: none;
    color: #e55e1d;
}

#dates a:hover {
    border-bottom: 1px solid #e55e1d;
}