@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Raleway:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    color: #F9F6EE;
    background-color: #0f0f0f;
}

img {
    color: #F9F6EE;
}

nav a {
    font-family: Helvetica, sans-serif;
    color: #F9F6EE;
}

h1,h2 {
    font-family: Quintessential, cursive;
    letter-spacing: 4px;
    color: rgb(254, 253, 248);
    text-align: center;
    margin: 3%;
}

h2 {
    font-size: 300%;
    font-weight: 100;
}

h3 {
    
    font-size: 150%;
    padding: 6px;
    font-family: Raleway, Helvetica;
    text-align: center;
    color: #0f0f0f;
    font-style: italic;

}

i {
    font-size: 240%;
    margin-bottom: 1rem;
}

.logo-alt {
    color: #F9F6EE;
}

/* **** NAVIGATION BAR **** */

.container {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.col {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

}

.box1 {
    order: 1;
    font-size: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 33%;

}

.box2 {
    order: 2;
    font-size: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 33%;
}

.box3 {
    order: 3;
    font-size: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 33%;
}

.row-box {
    width: 100%;
}

.hover-box a:hover {
    border-bottom: 1px solid #F9F6EE;
}

#logo {
    width: 100%;
    margin-top: 5%;
}

.nav-link {
    font-size: 120%;
    letter-spacing: 4px;
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid #F9F6EE;
}

/* **** HERO IMAGE **** */

#hero-container {
    position: relative;
}

.hero-box {
    height: 400px;
    width: 100%;
    background: url('../images/hero_main.webp') no-repeat center center;
}

.hero-box {
    height: 400px;
    width: 100%;
    background: url('../images/hero_main.webp') no-repeat center center;

    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* STICKY NAV MENU */

input#menu{
    display: none;
}

.dropdown-menu{
    width: 80px;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.dropdown-menu ul{
    list-style-type: none;
    padding: 0;
    background-color: rgba(69, 68, 68, 0.8);
}

.dropdown-menu a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #F9F6EE;
}

.dropdown-menu label{
    display: block;
    cursor: pointer;
    background: url('../images/menu_open.png') no-repeat left center;
    padding: 30px 0 30px 80px;
    filter: drop-shadow(10px 10px 4px #0f0f0f);
} 

/* STICKY NAV STATUS */

.menu-content{
    max-height: 0;
    overflow: hidden;
}

input:checked ~ .menu-content{
    max-height: 1000px;
    transition: all ease 1s;
}

input:checked ~ label{
    background: url('../images/menu_closed.png') no-repeat left center;
}

/* **** UPCOMING DATES **** */

#dates li {
    padding: 1px;
}

#dates {
    height: 800px;
    width: auto;
    text-align: center;
    margin-bottom: 3%;
    background: url('../images/hero_lower.webp') no-repeat center center;
}

#dates ul {
    width: 600px;
    font-size: 100%;
    list-style: none;
    background-color: rgba(69, 68, 68, 0.7);
    margin: 0 auto;
    margin-bottom: 3%;
    padding: 1rem;
}

#dates a {
    text-decoration: none;
    color: #fba90b;
}

#dates a:hover {
    border-bottom: 1px solid #fba90b;
}

/* **** BAND NEWS **** */

.news-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    width: auto;
    margin-bottom: 10%;
    background: linear-gradient(to bottom, #0f0f0f, #646363, #0f0f0f);

}

.half-box {
    width: 50%;
    text-align: center;
}

#record {
    width: 95%;
    filter: drop-shadow(30px 10px 4px #0f0f0f);
    margin-top: 10%;
    margin-bottom: 3%;
}

.gen-img {
    width: 70%;
    filter: drop-shadow(30px 10px 4px #0f0f0f);
    margin-top: 10%;
    margin-bottom: 10%;
}

.text-box-left {
    text-align: center;
    width: 75%;
    margin-top: 10%;
    margin-left: 20%;
}

.text-box-right {
    text-align: center;
    width: 80%;
    margin-top: 10%;
    margin-right: 15%;
}

.news-text {
    width: 100%;
    padding: 3%;
    background-color: rgba(69, 68, 68, 0.4);
    font-size: 100%;
}

#recording {
    width: 82%;
    margin: 3%;
}

.inner-image {
    width: 85%;
    margin: 3%;
}

#glory {
    width: 70%;
    margin: 3%;
    filter: drop-shadow(30px 10px 4px #0f0f0f);
    margin-top: 15%;
}

#band-news a {
    text-decoration: none;
    color: #fba90b;
}

#band-news a:hover {
    border-bottom: 1px solid #fba90b;
}

.news-rev {
    order: 1;
}

/* **** MAILING LIST **** */

.banner-box-two {
    width: 100%;
    background: linear-gradient(to right, #0f0f0f, #e55e1d, #fcf6ba, #e55e1d, #0f0f0f);
}


.banner {
    font-size: 175%;
    padding: 2px;
    font-family: Raleway, Helvetica;
    text-align: center;
    color: #0f0f0f;
}

#mail-banner {
    font-size: 150%;
    padding: 6px;
    font-family: Raleway, Helvetica;
    text-align: center;
    color: #0f0f0f;
    font-style: italic;
}

#mailing-list {
    width: auto;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 10%;
}

#mailing-list-form {
    margin-top: 10%;
}

.mailing-list-input {
    padding: 10px;
    border-radius: 10px;
    margin: 1% 20%;
    width: 55%;
    font-family: inherit;
}

#mailing-list a:hover {
    border-bottom: 1px solid #fba90b;
}

button {
    background-color: #e55e1d;
}

.form label {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

/* ***** VIDEO **** */

.video-container {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    background: linear-gradient(to bottom, #0f0f0f, #646363, #0f0f0f);
}

.video-box {
    height: 500px;
    width: 100%;
    text-align: center;
}

#video-text {
    margin-top: 5%;
}

/* ***** AUDIO **** */

#audio {
    height: 900px;
    width: auto;
    text-align: center;
    background: url('../images/hero_lower.webp') no-repeat center center;
}

#audio ul {
    width: 900px;
    font-size: 100%;
    list-style: none;
    background-color: rgba(69, 68, 68, 0.7);
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 3%;
}

audio {
    padding: 1rem;
    width: 400px;
    height: 30px;
}

#about-left {
    width: 80%;
    filter: drop-shadow(30px 10px 4px #0f0f0f);
    margin-top: 10%;
    margin-bottom: 3%;
}

/* **** BIOGRAPHY **** */

#bio-hero {
    height: 500px;
    width: auto;
    text-align: center;
    margin-bottom: 10%;
    background: url('../images/hero_lower.webp') no-repeat center center;
}
#bio-hero ul {
    width: 550px;
    font-size: 100%;
    list-style: none;
    background-color: rgba(69, 68, 68, 0.7);
    margin: 0 auto;
    margin-bottom: 3%;
    padding: 1rem;
}
#about-david {
    width: 90%;
    margin-top: 3%;
}

#lower-bio a {    
    text-decoration: none;
    color: #fba90b;
}

#lower-bio a:hover {
    border-bottom: 1px solid #fba90b;
}

#contacts {
    height: 1000px;
    width: auto;
    text-align: center;
    background: url('../images/hero_lower.webp') no-repeat center center;
}

#contacts li {
    padding: 1px;
}

#contacts ul {
    width: 600px;
    font-size: 100%;
    list-style: none;
    background-color: rgba(69, 68, 68, 0.8);
    margin: 0 auto;
    margin-bottom: 3%;
    padding: 1rem;
}

#contacts a {
    text-decoration: none;
    color: #fba90b;
}

#contacts a:hover {
    border-bottom: 1px solid #fba90b
;
}

.con-head {
    color: #F9F6EE;
}

.thanks-box {
    height: 300px;
    width: auto;
    text-align: center;
    margin-bottom: 3%;
    background: url('../images/hero_lower.webp') no-repeat center center;
}
#thanks-box p {
    text-align: center;
    margin-bottom: 3%;
}

/* ***** FIRE IMAGE **** */

.fire-box {
    height: 450px;
    width: 100%;
    background: url('../images/footer_fire.webp') no-repeat center center;
}

/* **** FOOTER **** */

footer a {
    color: #F9F6EE;
}

#footer-logo {
    width: 70%;
    margin-bottom: 5%;
    margin-left: 15%;
    color: #F9F6EE;
}

#footer-info {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.container {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.col {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

}

.box1 {
    order: 1;
    font-size: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 33%;

}

.box2 {
    order: 2;
    font-size: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 33%;
}

.box3 {
    order: 3;
    font-size: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 33%;
}

.row-box {
    width: 100%;
}

.hover-box a:hover {
    border-bottom: 1px solid #F9F6EE;
}

#logo {
    width: 100%;
}

.nav-link {
    font-size: 120%;
    letter-spacing: 4px;
    text-decoration: none;
    color: inherit;
}

/* **** MEDIA QUERIES **** */
@media screen and (max-width: 950px) {

    #audio ul {
    width: auto;
}

@media screen and (max-width: 900px) {

    #mail-banner {
        font-size: 140%;
    }

    @media screen and (max-width: 800px) {

        #mail-banner {
            font-size: 110%;
        }

        @media screen and (max-width: 650px) {

            .box2 {
                order: 0;
                width: 100%;
                margin-bottom: 1rem;
            }

            .box1 {
                width: 50%;
            }

            .box3 {
                width: 50%
            }

            #logo {
                width: 70%;
                margin-top: 3%;
                margin-bottom: 3%;
                margin-left: 15%;
            }

            .nav-link {
                font-size: 100%;
                letter-spacing: 4px;
                text-decoration: none;
                color: inherit;
            }

            .left-link {
                margin: 0%;
                margin-left: 15%;
            }

            .right-link {
                margin: 0%;
                margin-right: 15%;
            }

            .half-box {
                width: 100%;
            }

            .text-box-right {
                text-align: center;
                width: fit-content;
                margin-top: 0%;
                margin-right: 15%;
                margin-left: 11%;
            }

            .text-box-left {

                text-align: center;
                width: 70%;
                margin-top: 0%;
                margin-left: 14%;
                margin-right: 14%;
            }

            .news-rev {
                order: 0;
            }



            @media screen and (max-width: 600px) {

                .hero-box {
                    height: 400px;
                    width: 100%;
                    background: url('../images/hero_small.webp') no-repeat center center;
                }

                #dates ul {
                    width: auto;
                }

                #mail-banner {
                    font-size: 110%;
                    padding-left: 15%;
                    padding-right: 15%;
                }

                .banner {
                    font-size: 140%;
                    padding-left: 15%;
                    padding-right: 15%;

                }

                .video-box {
                    position: relative;
                    width: 100%;
                    padding-bottom: 56.25%;
                    height: 0;
                }

                .video-box iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                #audio ul {
                    width: auto;
                }
                
                #bio-hero {
                    margin-bottom: 30%;
                }
                
                #bio-hero ul{
                    width: auto;
                }

                #contacts ul {
                    width: auto;
                    background-color: rgba(69, 68, 68, 0.8)
                }

                audio {
                width: 250px;

                }

                .video-box {
                    margin-bottom: 25%;
                }

                @media screen and (max-width: 500px) {
                    #audio ul {
                        font-size: 90%;
                    }


                @media screen and (max-width: 400px) {

                    .box3 {
                        font-size: 90%;
                    }

                    .box1 {
                        font-size: 90%;
                    }

                    .left-link {
                        margin: 0%;
                        margin-left: 5%;
                    }

                    .right-link {
                        margin: 0%;
                        margin-right: 5%;
                    }

                        #audio ul {
                            font-size: 80%;
                        }

                        .video-box {
                            margin-bottom: 20%;
                        }

                        .media-box{
                            margin-top: 15%;
                            }

                    #bio-hero{
                        font-size: 85%;
                    }


                }
            }
        }
    }
}
}
}
